/* Styles go here */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Rubik:wght@400;700&display=swap');

:root {
    --clr-dark: #212529;
    --clr-light: #D2F5FF;
}

html {
    font-family: "Rubik" !important;
    font-weight: 400;
}

body {
    background: var(--clr-light);

    min-height: 100vh;

    font-family: "Rubik";
}

/* main {
    min-height: 100vh;
    margin-top: 5vh;
} */

.content {
    justify-content: center;
}

h1, h2 {
    font-family: "Rubik";
    font-weight: 700;

    display: flex;
    justify-content: center;
}

.button {
    display: inline-block;
    min-width: 150px;

    margin: .5em auto;
    padding: .5em 0;

    background: #234E5A;
    color: var(--clr-light);

    border: 3px solid var(--clr-dark);
    border-radius: .5em;

    text-align: center;
    text-decoration: none;
    font-weight: 700 !important;

    cursor: pointer;

    transition: all 250ms ease;
}

.button:hover {
    background: var(--clr-light);
    color: var(--clr-dark);
}

.logo {
    max-width: 30px;
    height: auto;
    margin: 0 10px;
}
